<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
        <Property name="CONSOLE_LOG_PATTERN">%clr{%d{${LOG_DATEFORMAT_PATTERN}}}{faint} %clr{${LOG_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{cyan} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <Property name="FILE_LOG_PATTERN">%d{${LOG_DATEFORMAT_PATTERN}} ${LOG_LEVEL_PATTERN} %pid --- [%t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <!--2019-07-02 14:11:35.535-{com.sev7e0.data.service.TopicService}-findAllByTitle-#我是党员#-->
        <Property name="KAFKA_LOG_PATTERN">%d{${LOG_DATEFORMAT_PATTERN}}=%c=%m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
    </Properties>
    <Appenders>
        <!--实时发送消息至 Kafka -->
        <Kafka name="Kafka" topic="hotspot-test">
            <PatternLayout>
                <pattern>${sys:KAFKA_LOG_PATTERN}</pattern>
            </PatternLayout>
            <Property name="bootstrap.servers">localhost:9092</Property>
        </Kafka>

        <!--控制台输出-->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
                <pattern>${sys:CONSOLE_LOG_PATTERN}</pattern>
            </PatternLayout>
        </Console>

        <!--数据日志 滚动输出文件-->
        <RollingFile name="datasource" immediateFlush="true"
                     fileName="logs/datasource/datasource.log" filePattern="logs/datasource/datasource - %d{yyyy-MM-dd HH_mm_ss}.log.gz">
            <PatternLayout>
                <pattern>${sys:FILE_LOG_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB" />
            </Policies>
        </RollingFile>

        <!--框架日志 滚动输出文件-->
        <RollingFile name="framework" immediateFlush="true"
                     fileName="logs/framework/framework.log" filePattern="logs/framework/framework - %d{yyyy-MM-dd HH_mm_ss}.log.gz">
            <PatternLayout>
                <pattern>${sys:FILE_LOG_PATTERN}</pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="20MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
<!--        <Logger name="org.apache.catalina.startup.DigesterFactory" level="error" />-->
<!--        <Logger name="org.apache.catalina.util.LifecycleBase" level="error" />-->
<!--        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />-->
<!--        <logger name="org.apache.sshd.common.util.SecurityUtils" level="warn"/>-->
<!--        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />-->
<!--        <Logger name="org.eclipse.jetty.util.component.AbstractLifeCycle" level="error" />-->
<!--        <Logger name="org.hibernate.validator.internal.util.Version" level="warn" />-->
<!--        <logger name="org.springframework.boot.actuate.endpoint.jmx" level="warn"/>-->
        <logger name="org.springframework" level="INFO" additivity="true">
            <AppenderRef ref="framework" />
        </logger>
        <logger name="com.sev7e0.data.service" level="INFO" additivity="true">
            <AppenderRef ref="Kafka" />
        </logger>
        <logger name="com.sev7e0.data.dao" level="INFO" additivity="true">
            <AppenderRef ref="datasource" />
        </logger>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>